<div class="card" data-step="2" data-intro="In the Chat panel, you can send messages to other players. Several channels are available, such as a global chat and team chat.  You can also send messages directly to specific players or your instructor. Remember to keep your communications civil!" data-position='right'>
  <div class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-flag fa-fw"></i>
    Mission
  </div>
  <div id="mission-container" class="card-body">
    <span id="mission-name">
      {{missionName}}
    </span>
    <span id="mission-id">
      {{missionID}}
    </span>
    <hr>
    <div bind-html-compile="customHtml"></div>
  </div>
</div>
