<div class="card" data-step="4" data-intro="The Tools panel will display the necessary tools to complete the mission. If you are stuck on a particular mission, be sure to check here for hints. It may just lead you to the right path!" data-position='left'>
  <div class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-tools fa-fw"></i>
    Tools
  </div>
  <div class="card-body">

      <div class="col-sm-4" ng-repeat="tool in currentTools track by $index" ng-click="goToUrl(tool.url);">
          <span class="image-container">
            <img class="tools-image" ng-src="{{tool.img}}" />
            <span class="image-tooltip">
              <img class="tooltip-image" ng-src="{{tool.img}}"  href="#"  />
              <span class="tt-image-desc"><span class="desc-tag">{{tool.name}}</span>{{tool.desc}} 
              </span>
            </span>
          </span>
          <span class="image-action">
            {{tool.name}}
          </span>
      </div>

  </div>
</div>
