<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="#">Student</a>
</nav>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 st-head text-center">
        <span class="btn btn-success" ng-show="!waiting" style="float:left; margin-top: 4px" href="javascript:void(0);" onclick="javascript:introJs().start();">?</span>
        <span>Student</span>
        <span class="user">
    <span>{{playerName}}</span>
        <span ng-if="teamName"> - {{teamName}}</span>
        <span class="green-dot" ng-if="ws && ws.readyState == 1"></span>
        <span class="red-dot" ng-if="!ws || ws.readyState != 1"></span>
        </span>
    </div>
    <div class="col-sm-1"></div>
</div>