<div class="row player-data-container">
    <div class="col-sm-12 board-header player-header text-center">Player Info</div>
    <div class="col-sm-12 inst-board-content">
        <div class="row data-table-row1">
            <div class="row" style="margin: 0px">
                <div class="col-sm-3">
                    <div class="col-sm-12 data-title">Name</div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-title">Dashboard</div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-title">Kali</div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-title">Pi</div>
                </div>
            </div>
            <div class="row" style="margin: 0px;" ng-repeat="player in playerData">
                <div class="col-sm-3">
                    <div class="col-sm-12 data-value">
                        {{player.name}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-value">
                        <span class="green-dot" ng-if="player.viewOnline"></span>
                        <span class="red-dot" ng-if="!player.viewOnline"></span>
                        <span ng-if="player.viewOnline">{{player.ip}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-value">
                        <span class="green-dot" ng-if="player.kaliOnline"></span>
                        <span class="red-dot" ng-if="!player.kaliOnline"></span>
                        <span ng-if="player.kaliOnline">{{player.kaliIp}}</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 data-value">
                        <span class="green-dot" ng-if="player.pi.online"></span>
                        <span class="red-dot" ng-if="!player.pi.online"></span>
                        <span ng-if="player.pi.online">{{player.pi.ip}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
