<button class="btn btn-xs" style="float:right" ng-click="showSettings()">Settings</button>


<div class="settings-modal-template" style="display:none">
    <div class="modal-header">
        <h5 class="modal-title">Settings
            <button type="button" class="close" ng-click='ctrl.cancel()' aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
    </div>
    <div class="modal-body">
        <div>
            <input type="checkbox" ng-model="ctrl.enableInternet"> Internet
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click='ctrl.cancel()'>Cancel</button>
        <button type="button" class="btn btn-primary" ng-click='ctrl.ok()'>Confirm</button>
    </div>
</div>