<div id='gameboard' class="card"  data-step="5" data-intro="This is the main GameBoard. This is where your missions, which are indicated by Circles, will be displayed. To start a mission, click on an unlocked Circle. Unlocked Circles are yellow, locked Circles are gray, and completed Circles are blue. And that's it! Click on the center circle of the rings to begin the game. Good luck and have fun!">
  <div class="card-header">
    <i class="fas fa-grip-lines fa-lg float-right"></i>
    <i class="fas fa-map fa-fw"></i>
    Gameboard
  </div>
  <div id="gameboard-container" class="card-body">
    <div id="gameboardContainer" ng-init="initGameboard()">
    </div>
  </div>
</div>
